/*----------------  PROJECT HEADERS ----------------*/
h1{
    margin: 0;
    font-size: 2.5em;
}

.container h2{
    font-size: 2em;
}

header{
    margin: 72px 0;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

#header-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#header-logo-title{
    display: flex;
    gap: 24px;
    align-items: center;
}

#header-logo-title img{
    aspect-ratio: 1 / 1;
    object-fit: contain;  
}

#header-title{
    display: flex;
    flex-direction: column;
}

#header-title p{
    font-style: italic;
}

header p{
    font-size: 24px;
}








/*---------------- FULL CONTAINER ----------------*/
.container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: fit-content;

    align-self: flex-start;
}








/*---------------- SIDEBAR NAVIGATION CONTAINER----------------*/
#projects-navigation{
    display: none;
    flex: 1;
    margin: 0;
    height: fit-content;
    padding: 0;

    position: sticky;
    top: 72px;
    align-self: flex-start
}

#projects-navigation ul{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 16px;
    align-items: flex-start;
}

#projects-navigation ul li{
    font-size: 1em;
}

#projects-navigation ul li ul{
    display: flex;
    flex-direction: row;
    gap: 12px;
}









/*---------------- CASESTUDY CONTAINER ----------------*/
#casestudy-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 5;
    gap: 144px;

    max-width: 1200px;
}









/*---------------- OVERVIEW SECTION ----------------*/
#overview{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#overview-main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#overview-main section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* OVERVIEW SECTION ASIDE INFO */
#overview-aside{
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    height: fit-content;
    width: fit-content;
    min-width: 190px;
    border: 1px solid #E7E7E7;
    margin: auto;
}

#overview-aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

#overview-aside > ul{
    gap: 32px;
}

#overview-aside ul li{
    display: flex;
    flex-direction: column;
    gap: 8px;
}









/*---------------- PROJECT SECTION ----------------*/
.full-project-section{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.project-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.project-section-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.diamond-subheading{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}










/*---------------- BUTTONS ----------------*/
.section-button {
    width: fit-content;
    border: none;
}

.section-button li:nth-child(2){
    border-bottom: #2d7be100 solid 1px;
    transition: 0.3s ease;
}

.section-button svg {
    filter: grayscale(100%) brightness(1.5);
    transition: transform 0.3s ease, filter 0.3s ease;
}




/* Hover State */
.section-button:hover,
.section-button:hover li {
    font-weight: 500;
    border: none;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.section-button:hover svg {
    filter: none;
    transform: rotate(45deg);
}

.section-button li:nth-child(2):hover{
    border-bottom: #2D7BE1 solid 1px;
}




/* Active State */
.section-button.selected-button,
.section-button.selected-button li {
    color: #2D7BE1;
    /* font-weight: 500; */
}

.section-button.selected-button svg {
    filter: none;
    transform: rotate(45deg);
}










/*---------------- IMAGES ----------------*/
.text-diagram, .img-diagram{
    width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.text-diagram{
    max-width: 1000px;
}

.img-diagram{
    max-width: 1200px;
}

#goodnotes-double-img{
    background-image: url(../images/goodnotes-images/goodnotes-bg.jpg);
    background-size: cover;
    border-radius: 8px;
    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#goodnotes-double-img div{
    display: flex;
    flex-direction: column;
    gap: 12px;
}








/*---------------- MEDIA QUERIES ----------------*/
@media only screen and (min-width: 640px){
    /* body{
        background-color: burlywood;
    } */
    
    #overview{
        flex-direction: row;
    }
}


@media only screen and (min-width: 992px){
    /* body{
        background-color: gainsboro;
    } */

    #projects-navigation{
        display: flex;
    }


}


@media only screen and (min-width: 1200px){
    /* body{
        background-color: peachpuff;
    } */

    #overview-aside{
        min-width: 220px;
    }

    #overview{
        gap: 72px;
    }

    .text-diagram, .img-diagram{
        padding: 24px;
    }

    #goodnotes-double-img{
        margin: 24px;
    }

    #header-text{
        flex-direction: row;
        align-items: end;
    }

    #header-text p{
        text-align: end;
        max-width: 400px;
    }

    .text-diagram, .img-diagram{
        border-radius: 2em;
    }
}


@media only screen and (min-width: 1440px){
    /* body{
        background-color: mistyrose;
    } */
}


