/* TYPOGRAPHY */
h1{
    font-size: 4em;
    color: #1D1D1D;

    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;

    letter-spacing: 8%;
    line-height: 1.3em;
}

h2{
    font-family: "DM Sans", sans-serif;
    font-size: 2.5em;
    margin: 0;
    color: #1D1D1D;

    font-weight: 300;
    font-style: italic;
}

.text-border{
    width: 100%;
    box-sizing: border-box;

    line-height: 140%;
    padding-left: 24px;
    border-left: 2px solid #1D1D1D;
}

h3{
    font-family: "DM Sans", sans-serif;
    font-size: 1.75em;
    /* line-height: 50px; */
    margin: 0;
    font-weight: 400;
    color: #1D1D1D;
}

/* h4{
    font-family: "Unbounded", sans-serif;
    font-size: 2em;
    line-height: 40px;
    margin: 0;
} */

.subheading{
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
    letter-spacing: 10%;
    line-height: 28px;
    color: #2D7BE1;
    margin: 0;
    font-weight: 400;
}

p, li, button{
    font-family: "DM Sans", sans-serif;
    font-size: 1.1em;
    line-height: 1.5em; 
    margin: 0;
    font-weight: 300;
    color: #616461;
}

span{
    color: #AA5A24;
    font-weight: 550;
}

.tags{
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

.tags li{
    background-color: #DAEAFF;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: .9em;
    width: fit-content;
}





/* BODY AND HTML */
html, body {
  /* overflow-x: hidden; */
  max-width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: #F8F8F8;
    font-family: "DM Sans", sans-serif;
    font-style: normal;

    padding: 6%;
}

hr{
    border: 1px solid #E7E7E7;
}

#bottom-hr{
    margin: 124px 0 48px 0;
}




/* -------------------- TYPEWRITER ANIMATION -------------------- */
#typewriter{
    width: fit-content;
}

#typewriter h1 {
    padding-right: 8px;
    overflow: hidden;
    border-right: 4px solid #2D7BE1;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 2s steps(15),
      cursor 1s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: #2D7BE1; }
  }







/* -------------------- HEADER -------------------- */
.about-studio-h1{
    /* font-size: 12vw; */

    padding: 120px 0;
}

header{
    margin: 32px 0;
}




/* LOGO ANIMATIONS */
.logoAnimate{
    transition: transform 1s;
}

.logoAnimate:hover{
    transform: scale(1.15);
}



/* NAVIGATION */
.hidden{
    display: none;
}

.hidden2{
    opacity: 0;
}

.show{
    display: flex;

}

.show2{
    opacity: 1;

}



nav{
    padding: 12px 0; 
    margin: auto;
    height: auto;

    transition: height 0.3s ease;
    overflow: hidden;
    transform: translateZ(0);
    
}

.closed{
    height: 30px;
}

.opened{
    height: 170px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li ul{
    display: flex;
    width: 100%;
    gap: 72px;
}

nav ul li a img{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
}

.mobile-menu{
    flex-direction: column;
    gap: 12px;
    transition: opacity .3s ease;

}

#nav-mainlinks{
    display: none;
    gap: 72px;
}


#menu-icon:hover{
    cursor: pointer;
}





/* LINKS */
a{
    text-decoration: none;
    color: #616461;
    transition: 0.4s;
    border-bottom: 2px #00000000 solid;
}

a:hover{
    font-weight: 500;
    /* color: #415A88; */
    border-bottom: 1px #2D7BE1 solid;
    
}

.back-to-top{
    position: fixed;
    bottom: 3vw;
    right: 4vw;

    transform: rotate(-45deg);

    background-color: #2D7BE1;
    display: flex;
    border-radius: 50%;
    padding: 12px;
    justify-content: center;
    z-index: 2;

    border: none;
}

.back-to-top:hover{
    border: none;
}





/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 24px 0;
}

#footer-main{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

#footer-socials{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#footer-socials > ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#footer-socials ul li ul{
    display: flex;
    gap: 12px;
    flex-direction: row;
}


footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-menu{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

#footer-menu ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#footer-menu ul li:first-of-type{
    font-weight: 500;
    margin-bottom: 8px;
}



/* donta chnage */
footer aside{
    display: flex;
    align-items: center;
    gap: 24px;
}

#footer-logo{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
}




@media only screen and (min-width: 640px){
    /* CONTAINER PADDING */
    body{
        padding: 2% 4vw;
    }

    /* FOOTER */  
    #footer-links ul{
        justify-content: space-between;
    }

    
}




@media only screen and (min-width: 992px){
    /* HEADER */

    .closed{
        height: fit-content;
    }
    

    /* FOOTER */  
    #footer-main{
        flex-direction: row;
        gap: 42px;
        justify-content: space-between;
    }

    #footer-menu{
        display: flex;
        flex-direction: row;
        gap: 42px;
    }

}


@media only screen and (min-width: 1200px){
    body{
        padding: 2% 6vw;
    }
}




@media only screen and (min-width: 1440px){
    body{
        padding: 2% 10vw;
    }
}

