/*---------------- HOME TYPOGRAPHY ----------------*/
h1{
    font-size: 3.5em;
}

h3{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2.25em;
}






/*---------------- LINKS ----------------*/
#cards-container a{
    border: none;
}

#cards-container a:hover{
    border: none;
    
}






/*---------------- HEADER ----------------*/
header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    padding: 24px 0;
    height: 550px;

}


#name-titles{
    display: flex;
    flex-direction: column;
    gap: 18px;
}


#home-roles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 24px;
}

header > img{
    margin-top: 42px;
}

header > p{
    font-style: italic;
}




/*---------------- FEATURED WORKS/PROJECT CARDS ----------------*/
#home-container{
    padding-top: 72px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: center;
}



/* project cards */
article{
    display: flex;
    flex-direction: column;
    
    border: 1px solid #E7E7E7;
    border-radius: 8px;

    max-width: 700px;
}

.article-text{
    padding: 12px 20px;
}

article ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 24px;


    align-items: center;
}

.tags{
    flex-wrap: wrap;
}

article ul li{
    list-style: none;
}

.tags{
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

.tags li{
    background-color: #DAEAFF;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: .9em;
}

/* holds all project cards */
#cards-container{
    display: flex;
    flex-direction: column;
    gap: 28px;

    justify-content: space-between;
    width: 100%;
}

/* holds chevron and safely project cards */
.left-column{
    display: flex;
    flex-direction: column;
    gap: 28px;
}



.left-column, .right-column{
    width: fit-content;
    max-width: 100%;
}





/* img zoom hover mechanic */
.img-container{
    max-width: 100%;
    /* max-height: 50vh; */
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.img-zoom{
    margin: auto;
    object-fit: contain;
    border-radius: 4px 4px 0 0;

    transition: transform .8s;
}

.img-zoom:hover{
    transform: scale(1.07);
}






/* -------------------- MEDIA QUERIES -------------------- */

/* -------- 650 PX - MOBILE SIZE -------- */
@media only screen and (min-width: 640px){

    h1{
        font-size: 5em;
    }

}


/* -------- 992 PX - TABLET SIZE --------*/
@media only screen and (min-width: 992px){

    #cards-container{
        flex-direction: row-reverse;
        gap: 28px;
    }

}


/* -------- 1200 PX - LAPTOP SIZE --------*/
@media only screen and (min-width: 1200px){
    article{
        max-width: 900px;
    }

    #cards-container, .left-column{
        gap: 72px;
    }
    
}


/* -------- 1440 PX - DESKTOP SIZE --------*/
@media only screen and (min-width: 1440px){




}


@media only screen and (min-width: 1600px){

}

