.container{
    display: flex;
    flex-direction: column;
    gap: 72px;
}


/* -------------------- HEADER -------------------- */
header{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 72px 0;
}


/* ABOUT PAGE */
.biography-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

#portrait{
    border-radius: 4px;
    height: 60vh;
    object-fit: cover;
}



/* --------------- BIOGRAPHY SECTION --------------- */
#biography-text{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

#biography-text section, #experience{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.biography-caption{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



/* --------------- EXPERIENCE SECTION --------------- */
#experience-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#experience li{
    display: flex;
    justify-content: space-between;

    padding: 12px 0 28px 0;
    border-bottom: 2px #f0f0f0 solid;
}

#experience li:last-child{
    border: none;
}


.experience-title-company{
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 70%;

}

.experience-title-company h3{
    font-family: "DM Sans", sans-serif;
    font-size: 1.1em;
    line-height: 26px;

}

.company{
    display: flex;
    align-items: center;
    gap: 12px;
}

.company p, .dates{
    font-size: 1em;
}

.dates{
    text-align: right;

    width: 30%;
}












/* CSS USED FOR ASIDE LINKS (OTHER PROJECTS + SOCIALS) */
/* aside ul{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5% 10% 10%;
}

aside ul li a{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    transition-duration: 700ms;
}

aside h3{
    text-align: center;
    color: #771D4F;
    font-weight: 500;
    font-size: 2em;
}

.slide-link-flex{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 48px;
} */



/* --------------- 640 PX - MOBILE SIZE --------------- */
@media only screen and (min-width: 640px){


}


/* --------------- 992 PX - TABLET SIZE --------------- */
@media only screen and (min-width: 992px){
    .biography-container{
        flex-direction: row-reverse;
        gap: 56px;
    }




}

@media only screen and (min-width: 1440px){
    .biography-container{
        gap: 72px;
    }

    #biography-text{
        width: 65%;
    }


}

@media only screen and (min-width: 1600px){

}