/* -------------------- TYPOGRAPHY -------------------- */

h2 {
    transition: 0.3s;
}

section section p {
    font-size: 1em;
    color: #6B6B6B;
}

.container h2 {
    font-size: 1.5em;
    width: fit-content;
}

section a:hover h2 {
    font-weight: 500;
    border-bottom: 1px solid #2D7BE1;
    padding-bottom: 4px;
}





/* -------------------- HEADER -------------------- */
header{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 72px 0;
}

#description{
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}





/* -------------------- MAIN CONTAINER -------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 42px;
}





/* -------------------- SECTION CONTAINER -------------------- */
section section, section section a{
    display: flex;
    flex-direction: column;
    gap: 12px;

    border: none;
}

section section a:hover{
    border: none;
}






/* -------------------- IMAGE CARDS -------------------- */
.img-container {
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    border: 1px solid #E7E7E7;
    border-radius: 8px;

    overflow: hidden;
    box-sizing: border-box;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;

    padding: 10px;
    box-sizing: border-box;

    transition: transform .8s;
}

.img-container img:hover {
    transform: scale(1.15);
}






/* -------------------- RESPONSIVE -------------------- */
@media only screen and (min-width: 992px) {
    .container {
        gap: 100px 42px;

        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}